@property --logo-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #20262e;
}

@property --logo-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #181a1b;
}

@property --logo-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #18bc9c;
}
